@using Microsoft.AspNetCore.Identity
@using SportsEventManager.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="flex flex-col space-y-2">
    <li>
        <NavLink class="nav-link text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li>
        <NavLink class="nav-link text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li>
        <NavLink class="nav-link text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li>
            <NavLink class="nav-link text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium" href="Account/Manage/ExternalLogins">External logins</NavLink>
        </li>
    }
    <li>
        <NavLink class="nav-link text-gray-700 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium" href="Account/Manage/PersonalData">Personal data</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

}