@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>

<div class="min-h-screen flex flex-col">
    <NavMenu/>

    <main class="flex-grow bg-gray-100">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg p-6">
                @Body
            </div>
        </div>
    </main>
</div>


<div id="blazor-error-ui" class="absolute top-0 right-0 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" role="alert" style="display: none;">
    An unhandled error has occurred.
    <a href="" class="reload font-bold hover:text-red-500">Reload</a>
    <a class="dismiss font-bold hover:text-red-500 cursor-pointer">🗙</a>
</div>